<div class="well container">
  <h1>Home</h1>
</div>
  <% if user_signed_in? %>
    <% @users.each do |user|  %>
    <h3> <%= user.name %></h3>
    <li> <%= link_to 'Request Game', new_invitation_path(sender_id: current_user.id, recipient_id: user.id), remote: true, class: 'btn btn-success' %></li>
  <% end %>
<% end %>


<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-product-modal" class="modal-content">
    </div>
  </div>
</div>

<script>
$(function() {
  // set variables for Pusher API
  var pusher = new Pusher('f74ddd7f3eae987007b6');
  var channelName = 'private-conversation.' + $('body').data('user');
  var channel = pusher.subscribe(channelName);

  // create an event for game request and render modal window for invitation recipient
  channel.bind('game_request', function(data) {
    $('#inner-product-modal').html("<%= escape_javascript(render 'new_room') %>");
    $('#product-modal').modal("show");
    // fill in player id fields in new room form
    $('#player1-field').val($('body').data('user'));
    $('#player2-field').val(data.from);
    $('#invitation-field').val(data.invitation);
    // click submit button twice to ensure that new room is created and user is redirected
    $('.submit-room').click(function() {
      $('.submit-room').click(function() {
        $('#room-create').submit();
      });
    });
  });
  // create an event for acceptance of the game and creation of the new room - direct invitation sender to the room
  channel.bind('game_acceptance', function(data) {
    console.log(data.room);
    window.location = '/rooms/' + data.room;
  });
});
</script>
