// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #e4e4e4;
}
.navbar-default.navbar {
  margin-bottom: 0px;
}
.col-md-9 {
  background: #E4E4E4;
  padding-top: 15px;
}
.glyphicon {
  padding: .3em;
  font-size: 3.2em;
  line-height: .7em;
}
.draggable {
  z-index: 20;
}
.box {
  height: 4.8em;
  width: 4.8em;
}

.last-div {
  margin-right: 18px;
}
.chess-holder {
  display: block;
  margin-left: 10px;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.col-md-3 {
  padding-top: 15px;
}

.sidebar-nav {
  float: right;
  background: #e4e4e4;
  
  .table-holder {
    margin: 20px 0px 0 0;
    height: 470px;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px #c4c4c4;
  }
  .text-holder {
    height: 100%;
    width: 270px;
  }
}
.pipe {
  display: inline;
  color: #e4e4e4;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
}
tr {
  display: inline-table;  height: 40px;
  width: 270px;
  border-bottom: 1px solid #e4e4e4;
  th {
    font-family:  "OpenSansLight","Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    color: #777;
  }
}
b {
  font-family: "OpenSansRegular","Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  color: #78baa1;
  line-height: normal;
}

.buttons {
  height: 50px;
  background: #e4e4e4;
  box-shadow: -2px 2px #c4c4c4;
  text-align: center;
  clear: both;
  padding-top: 7px;

}
.button-glyphs {
  font-size: 22px;
  color: white;
  background: #548271;
  margin-top: -8px;
  margin-left: -16px;
  float: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

button {
  clear: both;
  height: 35px;
  width: 125px;
  background: #78baa1;
  border-radius: 0px;

  li {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    margin: auto;
    color: #bbb;
    font-weight: bold;
    text-align: center;
    font-family:"OpenSansRegular","Helvetica Neue",Arial,sans-serif;
  }
}

.glyphicon-ok-circle {
  margin-top: -1px;
  font-size: 24.7px;
}
.captured-pieces {
  height: 538px;
  background: white;
  margin-left: 40px;

  .button-holder {
    background:  #78baa1;
    width: 137px;
    height: 40.2px;
    border: 0;
  }
  p {
    text-align: center;
    display: block;
    letter-spacing: 1.2px;
    color: white;
    font-weight: 400;
    margin: auto;
  }
  .space-bottom {
    height: 10px;
    background: #e4e4e4;
    margin-right: -15px;
    margin-left: -15px;
  }
  .black-pieces {
    height: 50%;
  }
  .white-pieces {
    height: 50%;
  }
}

p {
  font-size: 14px;
  font-weight: bold;
  padding-left: 7px;
  letter-spacing: 1.8px;
  display: inline;
  font-family:"OpenSansRegular","Helvetica Neue",Arial,sans-serif;
}

.glyphicon-hourglass {
  font-size: 18.5px;
  float: left;
  margin-top: -1px;
  background: white;
  color:  #78baa1;
  border-bottom: 1px solid #b4b4b4;
}
.glyphicon-minus {
  float: right;
  font-size: 18.5px;
  margin: 0;
  margin-top: -1px;
  margin-right: -15px;
  background: white;
  color: #555;
  border-bottom: 1px solid #b4b4b4;
  border-left: 1px solid #b4b4b4;
  border-radius: 0;
}

.button-holder {
  width: 100%;
  height: 31px;
  border-bottom: 1px solid #b4b4b4;
  p b {
    font-size: 16px;
  }
}
.glyphicon-user {
  margin: 0;
  margin-top: -1px;
  background: #827f62;
}
.user-header {
  background: #9B9981;
  height: 35px;
  color: white;
  p {
    font-weight: 300;
  }
}

.glyphicon-star {
  font-size: 8px;
  letter-spacing: .5px;
  padding: 0;
  margin: 0;
}
.space-keeper {
  height: 180px;
  background: #e4e4e4;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  .line-break {
    display: block;
    height: .1px;
  }
  .player-info {
    background: white;
    height: 140px;
    p {
      font-weight: 300;
      letter-spacing: .5px;
    }
  }
}
.timer-holder {
  height: 538px;
  background: white;
  margin-right: 15px;
  display: inline;
  clear: both;
  .time-box {
    background: #8b4441;
    height: 50px;
    margin: 12px 0 0px;
    clear: both;
    border-radius: 3px;
    .time-digits {
      font-size: 30px;
      text-align: center;
      color: white;
      font-weight: 200;
      letter-spacing: 1.5px;
      font-family: "OpenSansLight","Helvetica Neue",Arial,sans-serif;
    }
  }
}

.bottom-row {
  height: 100px;
  clear: both;
  background: #e4e4e4;
}


.popup-chatbox {
  height: 45px;
  position: fixed;
  bottom: 0px;
  background: radial-gradient(#558372, #548271);
  width: 285px;
  right: 15px;
  box-shadow: 5px -5px 2px #ccc;
  p {
    color: white;
    float: left;
    clear: both;
    margin-top: 10px;
    letter-spacing: .2px;
    margin-left: 10px;
  }
}
.glyphicon-plus {
  margin: 0;
  margin-top: -1px;
  float: right;
}
