// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// css for signed in home page

body {
  background-color: #e4e4e4;
  overflow: hidden;
}

li {
  list-style-type: none;
}

// styles for the navigation bar
.navbar-default.navbar {
  margin-bottom: 0px;
}

// chessboard container
.col-md-9 {
  background: #E4E4E4;
  padding-top: 15px;
}

// basic style for glyphicons
.glyphicon {
  padding: .3em;
  font-size: 1.5em;
  line-height: .7em;
}

// specific glyphicons
.glyphicon-ok-circle.glyphicon {
  margin-top: -1px;
  font-size: 24.7px;
}

.glyphicon-user.glyphicon {
  margin: 0;
  margin-top: -1px;
  background: #827f62;
}
.glyphicon-star.glyphicon {
  font-size: 8px;
  letter-spacing: .5px;
  padding: 0;
  margin: 0;
}

// basic p styling - to be changed --- padding left
p {
  font-size: 14px;
  font-weight: bold;
  padding-left: 7px;
  letter-spacing: 1.8px;
  display: inline;
  font-family:"OpenSansRegular","Helvetica Neue",Arial,sans-serif;
}

.button-glyphs {
  font-size: 22px;
  color: white;
  background: #548271;
  margin-top: -8px;
  margin-left: -16px;
  float: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

button {
  clear: both;
  height: 35px;
  width: 125px;
  background: #78baa1;
  border-radius: 0px;

  li {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    margin: auto;
    color: #bbb;
    font-weight: bold;
    text-align: center;
    font-family:"OpenSansRegular","Helvetica Neue",Arial,sans-serif;
  }
}
